<div class="container js-booksIndex">
  <ul>
    <% @books.each do |book| %>
      <%= content_tag(:li, book.title, "v-on:click": "setBookInfo(#{book.id})") %>
    <% end %>
  </ul>
  <div v-show="bookInfoBool">
    <p>{{ bookInfo.title }}</p>
    <p>{{ bookInfo.author }}</p>
    <p>{{ bookInfo.publisher }}</p>
    <p>{{ bookInfo.genre }}</p>  
  </div>
</div>

<%=  javascript_pack_tag 'books/index' %>